.jumbotron {
	background-color: #FFFFB2;
	color: black;
	padding-top: 80px;
}

.pie {
	padding: 10px 9px 0px 10px;
	background-color: #FFFFB2;
	margin-bottom: 0px;
	margin-top: 12px;
}

.card-prop {
	flex: 1 250px;
	margin-top: 15px;
}

.btn-reserva {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 0px;
}

.mail {
	margin-right: 10px;
	color: black;
}

.logo-ion {
	margin-right: 10px;
	color: black;
}

.tweet {
	margin-right: 4px;
	color: black;
}

.tab-content {
	padding-top: 10px;
}